body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a11cb;
    padding: 1rem 2rem;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-left .brand-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    gap: 1rem;
  }
  
  .nav-btn {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .logout-btn {
    background-color: #ff4757;
  }
  .login-btn
  {
    background-color: #ff4757;
  }
  
  .logout-btn:hover {
    background-color: #ff6b81;
  }